<div class="row">
  <div class="card register-card">

    <div class="row card-body" style="border-top: 1pt solid #eee; margin:0;">
        <div class="col-md-12 stats-heading mobile-menu-heading" style="padding-left: 0em; font-weight: bold; color: #777;">
          <img src="assets/red_logo.png" width="100px;" />
        </div>

        <div class="col-md-12 mobile-menu-item">
            <a routerLink="../feed" class="stats-category"><i class="far fa-file-alt"></i> &nbsp; Feed
                <span class="float-right fas fa-caret-right"></span>
            </a>
        </div>

        <div class="col-md-12 mobile-menu-item">
            <a routerLink="../bookmarks" class="stats-category"><i class="far fa-bookmark"></i> &nbsp; Bookmarks
                <span class="float-right fas fa-caret-right"></span>
            </a>
        </div>

        <div class="col-md-12 mobile-menu-item">
            <a routerLink="../notifications" class="stats-category"><i class="far fa-bell"></i> &nbsp; Notifications
                <span class="float-right fas fa-caret-right"></span>
            </a>
        </div>

        <div class="col-md-12 mobile-menu-item">
            <a routerLink="../my-stories" class="stats-category"><i class="fas fa-pencil-alt"></i> &nbsp; My Stories
                <span class="float-right fas fa-caret-right"></span>
            </a>
        </div>

        <div class="col-md-12 mobile-menu-item">
            <a routerLink="../profile" class="stats-category"><i class="far fa-user"></i> &nbsp; Profile
                <span class="float-right fas fa-caret-right"></span>
            </a>
        </div>

        <div class="col-md-12 mobile-menu-item">
            <a routerLink="../settings" class="stats-category"><i class="fas fa-cog"></i> &nbsp; Settings
                <span class="float-right fas fa-caret-right"></span>
            </a>
        </div>

        <div  class="col-md-12 mobile-menu-item">
            <a (click)="logout()" class="stats-category"><i class="fas fa-sign-out-alt"></i> &nbsp; Logout
                <span class="float-right fas fa-caret-right"></span>
            </a>
        </div>
    </div>
  </div>
</div>
