.mobile-menu-heading{
  padding-bottom: 1em;
}

.mobile-menu-item{
    padding: 0.5em;
    border-bottom: 0.1pt solid #f5f5f5;
    cursor: pointer;
}

.mobile-menu-item a{
  display: inherit;
  color: #446777;
}

.mobile-menu-item:hover a, .mobile-menu-item:active a, .mobile-menu-item:focus a{
    color: #ee0000 !important;
}
