<div class="offset-xl-3 offset-lg-2 offset-md-1 offset-sm-2 col-xl-6 col-lg-8 col-md-10 col-sm-8 col-12" style="    padding: 2em; box-shadow: 0pt 0pt 3pt #ccc;">
  <p style="font-size: 1.5em; font-weight: 400;">Login to Riter</p>
  <br />
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
  </form>
</div>
