<!-- Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered h-100 d-flex flex-column justify-content-center my-0" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="modalTitle">Change Password</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="small small-text mb-2">In case you forgot your current password, please logout and reset the password by clicking on forget password link on login screen.</p>
        <p class="{{alertClass}}" *ngIf="alertMessage">
          {{alertMessage}}
        </p>

          <form (ngSubmit)="changePassword(changePasswordForm)" #changePasswordForm="ngForm">

              <div class="form-group">
                <label class="mb-0" for="password">Account Password</label>
                <input type="password" class="form-control" id="oldPassword" [(ngModel)]="user.oldPassword" name="oldPassword" minlength="4" pattern="[a-zA-Z#@0-9]*" #oldPassword="ngModel" placeholder="Password" required>

                <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert alert-danger">
                    <div *ngIf="oldPassword.errors.required">
                      Password is required
                    </div>
                    <div *ngIf="oldPassword.errors.minlength">
                      Password must not less than 4 characters
                    </div>
                    <div *ngIf="oldPassword.errors.pattern">
                      Only Alphabets, Numbers, @ and # characters are allowed
                    </div>
                </div>
              </div>

              <div class="form-group">
                <label class="mb-0" for="password">New Password</label>
                <input type="password" class="form-control" id="newPassword" [(ngModel)]="user.newPassword" name="newPassword" minlength="4" pattern="[a-zA-Z#@0-9]*" #newPassword="ngModel" placeholder="Password" required>

                <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">
                    <div *ngIf="newPassword.errors.required">
                      New Password is required
                    </div>
                    <div *ngIf="newPassword.errors.minlength">
                      Password must not less than 4 characters
                    </div>
                    <div *ngIf="newPassword.errors.pattern">
                      Only Alphabets, Numbers, @ and # characters are allowed
                    </div>
                </div>
              </div>

              <div class="form-group">
                <label class="mb-0" for="password">Confirm New Password</label>
                <input type="password" class="form-control" id="cnfNewPassword" [(ngModel)]="user.cnfNewPassword" name="cnfNewPassword" #cnfNewPassword="ngModel" placeholder="Confirm Password" required>

                <div *ngIf="cnfNewPassword.invalid && (cnfNewPassword.dirty || cnfNewPassword.touched)" class="alert alert-danger">
                    <div *ngIf="cnfNewPassword.errors.required">
                        Confirm New Password is required
                    </div>
                </div>
                <div [hidden]="cnfNewPassword.pristine " >
                    <div [hidden]="(user.cnfNewPassword == user.newPassword) || cnfNewPassword.invalid" class="alert alert-danger">Password don't match</div>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="(!changePasswordForm.form.valid) ">{{ButtonMsg}}</button>
                &nbsp;
                <span class="btn btn-light" data-dismiss="modal">Cancel</span>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
