<div class="row" [hidden]="globals.loading || globals.error"  detect-scroll (onScroll)="handleScroll($event)" >
  <div class="card register-card" >
      <div class="row card-body">
          <div class="media col-md-12 p-0">
              <img class="mr-3 br-full" width="64px" src="{{globals.mediaUrl}}/images/dp/{{profile.avtar}}" alt="User DP">
              <div class="media-body">
                <h5 class="mt-0 mb-1">{{ profile.first_name}} {{profile.last_name}}</h5>
                <p class="small-text m-0">{{ profile.tagline}}</p>
              </div>
          </div>
          <div class="col-md-12 p-0">
            <p class="small-text m-0 mt-3">
              {{ profile.bio }}
            </p>
          </div>
          <div class="col-md-12 p-0 mt-3" >
            <button class="btn btn-sm btn-light mr-2" [hidden]="selfProfile">Follow</button>
            <a routerLink="../profile" class="btn btn-sm btn-light" [hidden]="!selfProfile"><i class="fas fa-pencil-alt"></i> &nbsp;Edit Profile</a>
            <a href="whatsapp://send?text={{share.link}}" class="btn btn-sm btn-light d d-sm-none"><i class="fab fa-whatsapp"></i> &nbsp;Share Profile</a>

          </div>
      </div>

    <div class="row card-body" style="border-top: 1pt solid #eee; margin:0;">
        <div class="col-md-12 p-0">
          <h6 class="block">Highlights</h6>
        </div>
        <div class="col-md-12 p-0">
          <p class="small small-text m-0">
            <i class="fas fa-user-plus"></i> &nbsp; {{profile.followers}} followers
          </p>
          <p class="small small-text m-0">
            <i class="fas fa-eye"></i> &nbsp; {{profile.views}} story views
          </p>
        </div>
    </div>
  </div>


<div class="row card p-0" style="border-top: 1pt solid #eee; margin:0; background: #f4f4f4;">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" >Stories</a>
        </li>
    </ul>
</div>
</div>
<!-- Member Stories -->
<div class="row card p-0" *ngFor="let post of posts" unselectable="on" onselectstart="return false;" onmousedown="return false;">
    <div class="card-body">
      <h5 class="card-title story-title"><a routerLink="../feed/{{post.id}}">{{post.title}}</a></h5>
      <div class="media story-author">
          <img class="mr-3" src="{{globals.mediaUrl}}/images/dp/{{post.avtar}}" alt="Generic placeholder image" style="width:48px;">
          <div class="media-body">
              <h6 class="mt-0"><a routerLink="../{{post.username}}">{{post.first_name}} {{post.last_name}}</a></h6>
              <p class="comment-timestamp">{{post.post_date | date }}</p>
          </div>
      </div>
      <p class="card-text story-text"> {{ post.body | limit:400 }}<a routerLink="../feed/{{post.id}}" *ngIf="post.body.length > 400">... (read more)</a></p>
      <p class="post-stats gray-link">
          {{post.likes}} Likes &nbsp;
          {{post.comments}} Comments &nbsp;
          {{post.views}} Views
      </p>
    </div>
</div>

<div class="row col-md-12 p-0 mt-2 text-center" [hidden]="posts!='' || globals.loading || globals.error">
    <div class="small-text btn-block">No Stories Written</div>
</div>


<app-loader></app-loader>
