<div class="row">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gulfam Ali</h5>
          <p class="card-text">
            Post your story, poem or confession.
          </p>
        </div>
    </div>

    <div class="card" *ngFor="let post of posts">
        <div class="card-body">
          <h5 class="card-title story-title">{{post.title}}</h5>
          <p class="card-text story-text"> {{ post.body | limit:600 }}<a routerLink="{{post.id}}" *ngIf="post.body.length > 600">... (read more)</a></p>
          <a href="#" class="float-right gray-link">23 likes and 25 comments</a>
        </div>
        <div class="card-footer story-footer">
          <a href="#" class="card-link"><i class="far fa-heart" style="color: #777;"></i> Like</a>

          <a href="#" class="card-link float-right"><i class="far fa-comment" style="color: #777;"></i> Comment</a>
        </div>
    </div>
</div>
