.main-header{
  position: fixed;
}

.main-body{
  margin:0;
  padding: 0.4em 0;
  margin-top:3em;
}

.article-wrapper{
  padding: 0.5em 0;
}


.navigation-bar{
  margin: 0;
  background: #ee0000;
  box-shadow: 0pt 1pt 1pt #cc0000;
}
.navbar{
  padding-top:0;
  padding-bottom:0;
  font-family: 'Varela Round';
}
.navbar-light .navbar-brand{
  color: #fff;
  font-family: 'Berkshire Swash', cursive;
  font-size: 1.8em;
  text-shadow: 0pt 0pt 1pt #a70000;
}

.navigation-bar a.nav-link{
  color: #fff;
}

.navigation-bar a.nav-link:hover, .navigation-bar a.nav-link.active{
  background: #cc0000;
  border-radius: 0.2em;
}

.sidebar{
  padding:0.8em 0.5em 0 0;
  font-size: 1em;
}

.sidebar .nav-link{
   padding: 0.4em 1em;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #007bff;
    background-color: #eaeaea;
    font-weight: 600;
}

.nav-pills .nav-link {
    border-radius:0;
    color: #777;
}

.nav-pills .nav-link:hover {
    color: #007bff;
}



.navbar-footer li.nav-item {
    text-align: center;
}

.navbar-footer li a{
  color: #ff8f8f;
}

.navbar-footer li.nav-item.active, .navbar-sm-footer li.nav-item.active{
    background: #cc0000;
}

.navbar-footer li.nav-item.active a, .navbar-sm-footer li.nav-item.active a{
    color: #fff;
}

.navbar-footer .nav-link{
  padding: 0.4em;
  font-size: 1.34em;
      border-radius: 0 !important;
}

.navbar-sm-footer .nav-item{
  padding: 0;
      text-align: center;
}


@media all and (max-width: 768px) {
  .main-header{
    position: relative;
  }

  .main-body{
    margin-top: 0em;
  }

  .article-wrapper{
    padding: 0;
  }
}

@media all and (min-width: 1500px) {
    .article-wrapper{
      margin-left: -3em;
    }
}

@media all and (min-width: 1800px) {
    .article-wrapper{
      margin-left: -5em;
    }
}
