
#loading-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;

  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 1.4em;
    text-shadow: -2pt 2pt 10pt #585858;
}

#loading-container .spinner{
  margin: auto;
}
