<div class="row">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gulfam Ali</h5>
          <p class="card-text">
            Post your story, poem or confession.
          </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{posts.title}}</h5>
          <div class="media story-author">
              <img class="mr-3" src="../assets/avtar.png" alt="Generic placeholder image" style="width:48px;">
              <div class="media-body">
                  <h6 class="mt-0">Aditya Agarwal</h6>
                  <p class="comment-timestamp">27 Dec 2016</p>
              </div>
          </div>
          <p class="card-text"> {{ posts.body }}</p>

          <a href="#" class="card-link gray-link">23 Likes</a>
          <a href="#" class="card-link gray-link">25 Comments</a>
          <a href="#" class="card-link gray-link">125 Views</a>
        </div>
        <div class="card-footer story-footer">
          <a href="#" class="card-link"><i class="far fa-heart" style="color: #777;"></i> Like</a>
        </div>
    </div>

    <div class="heading heading-small">Comments</div>

    <div class="card comment-body">
        <div class="input-group">
            <div class="input-group-prepend" style="padding: 0 0.5em 0 0;">
              <img src="../assets/avtar.png" alt="Generic placeholder image" style="width: 38px;">
            </div>
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
        </div>
    </div>

    <div class="card">

        <div class="card-body comment-body">
          <div class="media">
            <img class="mr-2" src="../assets/avtar.png" alt="Generic placeholder image" style="width:48px;">
            <div class="media-body">
              <h6 class="mt-0">Mike Anderson</h6>
              <p class="comment-timestamp">27 Dec 2016</p>
              <p class="media-text comment">
                I’m an atheist, but I really disagree with the claim that religion is useless.
                Religion is very useful to most people; here’s why: Quora User's answer to Does God exist?
              </p>
              <div class="media">
                <img class="mr-1" src="../assets/avtar.png" alt="Generic placeholder image" style="width:48px;">
                <div class="media-body">
                  <h6 class="mt-0">Aditya Agarwal</h6>
                  <p class="comment-timestamp">27 Dec 2016</p>
                  <p class="media-text comment">
                    From what I understood, anything that cannot be explained, is called God’s work.
                    I don’t know if that’s good or bad when you see the bigger picture.

                    The last point though shows that God often acts as a authoritative father figure that keeps mankind in check.
                    But that idea is often misused to misguide people.
                    That is what I tried to explain in my answer. Maybe I am wrong. Hopefully :)
                  </p>
                </div>
                </div>
                <div class="media">
                  <img class="mr-1" src="../assets/avtar.png" alt="Generic placeholder image" style="width:48px;">
                  <div class="media-body">
                    <h6 class="mt-0">Mike Anderson</h6>
                    <p class="comment-timestamp">28 Dec 2016</p>
                    <p class="media-text comment">
                      This comment uses equivocation like “I don’t know” and “often”, but the answer is very different — it takes a hard black-and-white line:

“The whole concept of religion is useless.

It’s just an excuse for one group of people to hate and discriminate another group of people. Or to incite violence, act immaturely and justify all of it, all in the name of religion.”

That’s what I was responding to. The answer seems to say that religion is always useless or harmful.
                    </p>
                  </div>
                  </div>
            </div>
            </div>

            <div class="media">
              <img class="mr-1" src="../assets/avtar.png" alt="Generic placeholder image" style="width:48px;">
              <div class="media-body">
                <h6 class="mt-0">Emmanuel Anseline</h6>
                <p class="comment-timestamp">01 Jan 2017</p>
                <p class="media-text comment">
                  Except pastafarianism. These guys are peaceful and they have an excellent religion. FSMism is the best, even atheists like me will say it.
                </p>
              </div>
              </div>

              <div class="media">
                <img class="mr-1" src="../assets/avtar.png" alt="Generic placeholder image" style="width:48px;">
                <div class="media-body">
                  <h6 class="mt-0">Sarah Citta</h6>
                  <p class="comment-timestamp">01 Jan 2017</p>
                  <p class="media-text comment">
                    I'm a Minister of the CFSM and I bless you, young meatball, for spreading the word of Quob's love! r'Amen!
                  </p>
                </div>
                </div>
        </div>
    </div>
</div>
