.stats-box{
  padding: 0.5em;
  border-top: 0.1pt solid #f1f1f1;
}

.b-0{
  border: 0;
}

.stats-heading{
  font-size: 1.2em;
font-weight: bold;
color: #666;
padding-bottom: 1em;
}


.stats-box p{
  margin: 0;
}

.stats-box .stats-phrase{
    color: #bbb;
    font-size: 0.9em;
}

.stats-box .stats-count{
    color: #999;
    font-size: 0.9em;
    font-weight: 600;
}

.stats-box .stats-category{
    color: #555;
    font-size: 1em;
    font-weight: 400;
}
