<div class="row">
    <div class="card register-card">
        <div class="card-body text-center">
          <h5 class="card-title">Register Yourself Today</h5>
          <p class="card-text">
            Register now to read or post stories, poems and what not. You can post your confessions hiding your identity. Echo your thoughts to the millions of other users worldwide!</p>
          <a routerLink="register" class="card-link btn btn-primary">Register Now</a>
        </div>
    </div>

    <div class="card" *ngFor="let post of posts">
        <div class="card-body">
          <h5 class="card-title story-title">{{post.title}}</h5>
          <p class="card-text story-text"> {{ post.body | limit:600 }}<a href="#" data-toggle="modal" data-target="#RegisterModalCenter" *ngIf="post.body.length > 600">... (read more)</a></p>
        </div>
        <div class="card-footer story-footer">
          <a href="#" class="card-link"><i class="far fa-heart" style="color: #777;"></i></a> 23 likes

          <a href="#" class="card-link float-right">Comment</a>
        </div>
    </div>
</div>
<div class="row footer " style="">
    <div class="col-md-12 text-center">
        <a href="" class="card-link">About</a>
        <a href="" class="card-link">Privacy Policy</a>
        <a href="" class="card-link">Contact Us</a>
        <a href="" class="card-link">Terms of Service</a>
    </div>
</div>


<!-- Register Modal -->
<div class="modal fade" id="RegisterModalCenter" tabindex="-1" role="dialog" aria-labelledby="RegisterModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5 class="card-title  ">Become a Reader or Writer</h5>
        <p>
          Register now to read or post stories, poems and what not. You can post your confessions hiding your identity. Echo your thoughts to the millions of other users worldwide!
          <br />
          <br />
          Explore the possibilities!
        </p>

          <div class="text-center" style="justify-content: center;">
            <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="register" >Register Now</button>
            <button type="button" class="btn btn-light" data-dismiss="modal">Not Interested</button>
          </div>
      </div>
    </div>
  </div>
</div>
