<div class="row">
  <div class="card">
      <div class="row card-body">
          <div class="col-md-12 page-heading"><i class="fas fa-bell"></i>&nbsp; Notifications</div>
      </div>

      <div class="row card-body pt-0">
          <div class="col-md-12 notification-body p-0">
              <i class="fas fa-heart color-red"></i>&nbsp; Your post received two more likes today.
          </div>
      </div>

      <div class="row card-body pt-0">
          <div class="col-md-12 notification-body p-0">
              <i class="fas fa-user-plus color-green"></i>&nbsp; Raghvendra Singh starts following you.
          </div>
      </div>

      <div class="row card-body pt-0">
          <div class="col-md-12 notification-body p-0">
              <i class="fas fa-comments color-blue"></i>&nbsp; Your post received two more comments today.
          </div>
      </div>
  </div>
</div>
