<div class="row">
  <div class="offset-xl-2 offset-lg-3 offset-md-3 offset-sm-2 col-xl-6 col-lg-6 col-md-6 col-sm-8 col-12" style="    padding: 2em; box-shadow: 0pt 0pt 3pt #ccc;     background: #fff;">
  <p style="font-size: 1.5em; font-weight: 400;">Recover Password</p>

  <p class="{{alertClass}}" *ngIf="alertMessage">
    {{alertMessage}}
  </p>
  <form (ngSubmit)="recover()" #forgetForm="ngForm">

      <div class="form-group">
        <label for="email" class="mb-0">Email address</label>
        <p class="small small-text mb-1">Please enter your account email address.</p>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" (blur)="checkEmail()" name="email" #email="ngModel" placeholder="Enter email" required>

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Email is required
            </div>
        </div>

        <div *ngIf="email.valid && (email.dirty || email.touched)" >
            <div *ngIf="!emailValid" class="alert alert-danger">
              Enter a valid email
            </div>
        </div>
      </div>

      <div *ngIf="resetCodeInput">
        <div class="form-group" >
          <label for="email" class="mb-0">Reset Code</label>
          <p class="small small-text mb-1">Please enter reset code sent to your email address</p>
          <input type="text" class="form-control" id="email" [(ngModel)]="user.code" name="code" #code="ngModel" placeholder="Reset Code" required>

          <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert alert-danger">
              <div *ngIf="code.errors.required">
                Reset Code is required
              </div>
          </div>
        </div>

        <div class="form-group" >
          <label for="email" class="mb-0">New Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" minlength="4" pattern="[a-zA-Z#@0-9]*" #password="ngModel" placeholder="Password" required>

          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Password is required
              </div>
              <div *ngIf="password.errors.minlength">
                Password must not less than 4 characters
              </div>
              <div *ngIf="password.errors.pattern">
                Only Alphabets, Numbers, @ and # characters are allowed
              </div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm New Password</label>
          <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="user.confirmPassword" name="confirmPassword" #confirmPassword="ngModel"   placeholder="Confirm Password" required>

          <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">
              Password is required
          </div>

          <div [hidden]="confirmPassword.pristine " >
              <div [hidden]="(user.confirmPassword == user.password) || confirmPassword.invalid" class="alert alert-danger">Password don't match</div>
          </div>
        </div>
      </div>


      <button type="submit" class="btn btn-primary btn-block" [disabled]="(!forgetForm.form.valid)  || (user.confirmPassword != user.password) || !emailValid ">Recover Password</button>
      <a routerLink="../login" style="display:block; padding-top:0.5em;">Back to Login</a>

  </form>

</div>
</div>
