<div class="row">
  <div class="offset-xl-2 offset-lg-3 offset-md-3 offset-sm-2 col-xl-6 col-lg-6 col-md-6 col-sm-8 col-12" style="    padding: 2em; box-shadow: 0pt 0pt 3pt #ccc;     background: #fff;">
  <p style="font-size: 1.5em; font-weight: 400;">Recover Password</p>

  <form (ngSubmit)="recover()" #forgetForm="ngForm">

      <div class="form-group">
        <label for="email" class="mb-0">Email address</label>
        <p class="small small-text mb-1">Please enter your account email address.</p>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" (blur)="checkEmail()" name="email" #email="ngModel" placeholder="Enter email" required>

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Email is required
            </div>
        </div>

        <div *ngIf="email.valid && (email.dirty || email.touched)" >
            <div *ngIf="!emailValid" class="alert alert-danger">
              Enter a valid email
            </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block" [disabled]="(!forgetForm.form.valid) ">Recover Password</button>
      <a routerLink="../login" style="display:block; padding-top:0.5em;">Back to Login</a>

  </form>

</div>
</div>
