<div class="row">
  <div class="card">
      <div class="row card-body">
          <div class="col-md-12 page-heading"><i class="fas fa-cog"></i> Settings</div>
          <div class="col-md-12" style="padding: 1em 0;">
              <div>
                <p class="sub-heading">Email</p>
                <p class="small small-text">Change your primary email address</p>
                <p>
                  aligulfam6@gmail.com
                </p>
              </div>
          </div>
      </div>
  </div>
</div>
