<div class="row">
  <div class="card">
      <div class="row card-body">
          <div class="col-md-12 page-heading"><i class="fas fa-cog"></i>&nbsp; Settings</div>
      </div>

      <div class="row card-body pt-0">
          <div class="col-md-12 p-0">
              <div>
                <p class="sub-heading">Email <a href="#" class="float-right"><i class="far fa-edit"></i></a></p>
                <p class="small small-text">Change your primary email address</p>
              </div>
          </div>
      </div>

      <div class="row card-body pt-0">
          <div class="col-md-12 p-0">
              <div>
                <p class="sub-heading">Password <a href="#" class="float-right"><i class="far fa-edit"></i></a></p>
                <p class="small small-text">Change your account password</p>
              </div>
          </div>
      </div>
  </div>
</div>
